/* Givonic Font Family */

@font-face {
  font-family: 'Givonic';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/givonic/givonic-thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Givonic';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/givonic/givonic-extra-light.ttf') format('truetype');
}

@font-face {
  font-family: 'Givonic';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/givonic/givonic-light.ttf') format('truetype');
}

@font-face {
  font-family: 'Givonic';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/givonic/givonic-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Givonic';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/givonic/givonic-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Givonic';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/givonic/givonic-semi-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Givonic';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/givonic/givonic-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Givonic';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/givonic/givonic-extra-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Givonic';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/givonic/givonic-black.ttf') format('truetype');
}